apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: dangnam141002/threads-be:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"
            - name: DB_HOST
              value: postgres-cluster-rw
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              value: namth
            - name: DB_NAME
              value: threads_db
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: api-secret
                  key: DB_PASSWORD
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: api-secret
                  key: JWT_SECRET
            - name: MINIO_ENDPOINT
              value: "minio-api.namth.online"
            - name: MINIO_PORT
              value: "443"
            - name: MINIO_ACCESS_KEY
              value: namth
            - name: MINIO_SECRET_KEY
              value: 01664157092aA
            - name: MINIO_BUCKET_NAME
              value: threads
            - name: MINIO_USE_SSL
              value: "true"
            - name: ELASTICSEARCH_HOST
              value: elasticsearch
            - name: ELASTICSEARCH_PORT
              value: "9200"
            - name: REDIS_HOST
              value: redis
            - name: REDIS_PORT
              value: "6379"
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
