# PostgreSQL Headless Service (required for StatefulSet)
apiVersion: v1
kind: Service
metadata:
  name: postgres-test
spec:
  type: ClusterIP
  clusterIP: None # Headless service
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
  selector:
    app: postgres-test
