apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: threads-dev

resources:
  - ../../../base/elasticsearch

patches:
  - patch: |-
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 50Gi
    target:
      kind: StatefulSet
      name: elasticsearch
